<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="profile-picture">
                <img src="https://t4.ftcdn.net/jpg/05/50/95/87/360_F_550958748_OeGcRonEUNoVhd0wjd9zSEMhLFIGO9Bt.jpg"
                    alt="Profile Picture">
            </div>
            <h2 class="name">username</h2>
            <h3 class="username">@username</h3>
            <p class="tagline">some tagline</p>
            <p class="description">some description</p>
            <a href="#" class="button">Account setting</a>
        </div>
    </div>
    
</body>
</html>