/* Add your custom styles here */

.containerpers {
  margin-top: 20px;
}

.cardpers {
  text-align: center;
}

.profile-picture img {
  max-width: 100%;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  font-size: 1.5em; /* Increase the font size for the name */
}

.username {
  color: #666;
  font-size: 1.2em; /* Increase the font size for the username */
}

.button {
  display: inline-block; /* Make the button inline */
  margin-top: 10px;
  padding: 10px 20px; /* Adjust padding */
  background-color: #3498db; /* Use Betibu UI color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add a transition effect */
}

.button:hover {
  background-color: #2980b9; /* Change color on hover */
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.post-img {
  max-width: 100%;
  border-radius: 8px;
}

.post-body {
  padding: 10px;
}

.post-title {
  font-size: 16px;
  margin: 0;
}
